{% extends "layouts/base.html" %}

{% block content %}

<div data-w-id="dc7c1629-a21f-8aa4-7749-ef0018ce6d84" style="opacity:0" class="page-wrapper">
  <div class="navbar-ix-trigger">
    <div templateid="light" class="template-id"></div>
  </div>
  <div data-w-id="fe715ffa-f788-79a4-f973-8561297bbf17" class="homepage-navbar">
    <div data-collapse="medium" data-animation="default" data-duration="400" class="navbar w-nav">
      <div class="container navbar-container"><a href="index" class="brand w-nav-brand w--current"><img
            src="/assets/images/heart.svg" alt=""></a>
        <nav role="navigation" class="homepage-nav-menu w-nav-menu">

          <a href="/pricing" class="nav-link w-nav-link">Pricing</a>

          <a href="basic/account" class="nav-link w-inline-block">
            <div ms-hide-member="basic" class="hidden-with-an-attribute" data-ix="black-tooltip-hover">
              <div class="black-tooltip lock-tooltip" data-ix="black-tooltip-initial">
                <div>Member&#x27;s Only</div>
                <div class="black-diamond"></div>
              </div>
            </div>
            <div class="inline-block">Basic</div>
          </a>

          <a href="premium/account" class="nav-link w-inline-block">
            <div ms-hide-member="premium" class="hidden-with-an-attribute hide-premium-member"
              data-ix="black-tooltip-hover">
              <div class="black-tooltip lock-tooltip" data-ix="black-tooltip-initial">
                <div>Member&#x27;s Only</div>
                <div class="black-diamond"></div>
              </div>
            </div>
            <div class="inline-block">Premium</div>
          </a>

          <!-- <a href="https://webflow.com/website/1-Clonable-Membership-Template?rfsn=1495911.39ce0" target="_blank"
            class="button navbar-cta hide-current w-nav-link">Clone Project</a> -->
        </nav>
        <div class="menu-button w-nav-button">
          <div class="nav-icon w-icon-nav-menu"></div>
        </div>
      </div>
      <div data-w-id="6c911c59-03a0-8cce-a41f-ab2721526686" class="navbar-shadow"></div>
    </div>
  </div>
  <div class="hero-section">
    <div class="home-logo-container w-clearfix"><a href="index" class="brand w-inline-block w--current"><img
          src="/assets/images/heart.svg" alt=""></a>
          <a ms-rewrite="My Account" href="/login" class="nav-link login-link">LOGIN</a></div>
    <div class="container hero-container">
      <div class="hero-row">
        <div data-w-id="412faa30-c1bf-4d8f-f57b-8643f7f292f0"
          style="-webkit-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
          class="hero-content">
          <h1 class="home-h1">Template with<br> Paid Memberships<br></h1>
          <p class="home-text hero-home-text">Requires accounts with <a href="http://memberstack.io" target="_blank"
              class="link">MemberStack</a> &amp; <a href="https://stripe.com/" target="_blank" class="link">Stripe</a>
            to process payments. Setup takes just a few minutes.</p>
          <a href="pricing" class="button w-inline-block">
            <div>Create a Test Account</div>
          </a>
        </div>
        <div data-w-id="a80a2f51-c881-8d21-3e37-38369ce54a37"
          style="-webkit-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
          class="hero-block">
          <div class="hero-corner hero-corner-bottom-left">
            <div style="width:0%" class="hero-line-two"></div>
            <div style="height:0%" class="hero-line"></div>
          </div>
          <div class="hero-corner hero-corner-bottom-right">
            <div style="width:0%" class="hero-line-two"></div>
            <div style="height:0%" class="hero-line"></div>
          </div>
          <div class="hero-corner hero-corner-top-right">
            <div style="width:0%" class="hero-line-two"></div>
            <div style="height:0%" class="hero-line"></div>
          </div>
          <div class="hero-corner">
            <div data-w-id="a6570c47-d7fa-d691-d19e-e0b50c5c01eb" style="height:0%" class="hero-line"></div>
            <div data-w-id="a6570c47-d7fa-d691-d19e-e0b50c5c01ec" style="width:0%" class="hero-line-two"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container hero-container">
      <div class="logo-row"><img src="/assets/images/Webflow.svg" alt="" class="customer-logo"><img
          src="/assets/images/tesla.svg" alt="" class="customer-logo"><img src="/assets/images/Google_1.svg" alt=""
          class="customer-logo"><img src="/assets/images/instagram.svg" alt="" class="customer-logo"><img
          src="/assets/images/youtube.svg" alt="" class="customer-logo"><img src="/assets/images/hubspot.svg" alt=""
          class="customer-logo"></div>
    </div>
    <div data-w-id="731f8694-c888-20b6-74b2-f50ac76c14e8"
      style="-webkit-transform:translate3d(0, -50PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(46DEG) skew(0, 0);-moz-transform:translate3d(0, -50PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(46DEG) skew(0, 0);-ms-transform:translate3d(0, -50PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(46DEG) skew(0, 0);transform:translate3d(0, -50PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(46DEG) skew(0, 0)"
      class="hero-gradient"></div>
  </div>
  <div class="benefits-section">
    <div class="container">
      <h2 class="center-h2">Benefits</h2>
      <div class="container slim-container">
        <div class="home-text center-home-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare.</div>
      </div>
      <div class="feature-row">
        <div class="feature-column">
          <h3>Benefit</h3>
          <div class="home-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
            eros elementum tristique. Duis cursus, mi quis viverra ornare.<br>This is some crazy text.</div>
        </div>
        <div class="feature-column"><img src="/assets/images/feature3.svg" alt="" class="feature-svg">
          <div class="feature-box">
            <div class="hero-corner hero-corner-bottom-right">
              <div class="benefit-line-1"></div>
              <div class="benefit-line-2"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="feature-row no-reverse-feature-row">
        <div class="feature-column"><img src="/assets/images/Feature2.svg" alt="" class="feature-svg">
          <div class="feature-box">
            <div class="hero-corner hero-corner-top-right">
              <div data-w-id="933546fe-9679-c6a4-bf3c-e6b5462bba70" class="benefit-line-1"></div>
              <div data-w-id="933546fe-9679-c6a4-bf3c-e6b5462bba71" class="benefit-line-2"></div>
            </div>
            <div class="hero-corner hero-corner-bottom-left">
              <div class="benefit-line-1"></div>
              <div class="benefit-line-2"></div>
            </div>
          </div>
        </div>
        <div class="feature-column">
          <h3>Benefit</h3>
          <div class="home-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
            eros elementum tristique. Duis cursus, mi quis viverra ornare.<br>This is some crazy text.</div>
        </div>
      </div>
      <div class="feature-row">
        <div class="feature-column">
          <h3>Benefit</h3>
          <div class="home-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
            eros elementum tristique. Duis cursus, mi quis viverra ornare.<br>This is some crazy text.</div>
        </div>
        <div class="feature-column"><img src="/assets/images/Feature.svg" alt="" class="feature-svg">
          <div class="feature-box">
            <div class="hero-corner">
              <div class="benefit-line-2"></div>
              <div class="benefit-line-1"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-w-id="51e04b46-eac8-acce-13f0-1ad07a01d16a" class="testimonials-section">
    <div class="container">
      <h2 class="center-h2">Testimonials</h2>
      <div class="testimonial-row">
        <div data-w-id="8bd614bb-58dd-57f8-63af-9647c29c57e3" class="giant-quotes">,,</div>
        <div data-w-id="0152e2e8-76de-a7c5-4f95-80ca3bbf074b" class="testimonial-box left-testimonial"><img
            src="/assets/images/42.jpg" alt="" class="user-pic">
          <div class="user-testimonial">“You made it so simple. My new site is so much faster and easier to work with
            than my old site.&quot;</div>
          <div class="testimonial-name-wrapper">
            <div class="user-name">James May</div><a href="#" class="link">Website.com</a>
          </div>
        </div>
        <div data-w-id="76b4b61a-d0f6-bac0-0d50-c6558935e395" class="testimonial-box"><img src="/assets/images/44.jpg"
            alt="" class="user-pic">
          <div class="user-testimonial">“Wow. I just updated my site and it was SO SIMPLE. I am blown away. You guys
            truly kick ass. Thanks for being so awesome. High fives!”</div>
          <div class="testimonial-name-wrapper">
            <div class="user-name">Madison Davey</div><a href="#" class="link">Website.com</a>
          </div>
        </div>
        <div data-w-id="a18e1185-a19a-2e9f-bb29-510134c28c5b" class="testimonial-box right-testimonial"><img
            src="/assets/images/26.jpg" alt="" class="user-pic">
          <div class="user-testimonial">Now, I check Dribbble from my desk at ESPN every day looking for inspiration and
            hoping to return the favor.<br></div>
          <div class="testimonial-name-wrapper">
            <div class="user-name">Julia Smith</div><a href="#" class="link">Website.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="benefits-section">
    <div class="container">
      <div class="feature-grid">
        <div class="feature-square">
          <div class="feature-icon"></div>
          <h3>Feature</h3>
          <div class="home-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
            eros elementum tristique. Duis cursus, mi quis viverra ornare.</div>
        </div>
        <div class="feature-square">
          <div class="feature-icon"></div>
          <h3 class="heading">Feature</h3>
          <div class="home-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
            eros elementum tristique. Duis cursus, mi quis viverra ornare.</div>
        </div>
        <div class="feature-square">
          <div class="feature-icon"></div>
          <h3>Feature</h3>
          <div class="home-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
            eros elementum tristique. Duis cursus, mi quis viverra ornare.</div>
        </div>
        <div class="feature-square">
          <div class="feature-icon"></div>
          <h3>Feature</h3>
          <div class="home-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
            eros elementum tristique. Duis cursus, mi quis viverra ornare.</div>
        </div>
      </div>
    </div>
  </div>
  <div data-w-id="270e73b5-79b3-13f7-05ef-5275ccf4001e" class="pricing-section">
    <div class="container slim-container">
      <h2 class="center-h2">Pricing</h2>
      <div>
        <div class="pricing-row">
          <div class="pricing-column basic-column">
            <div class="plan-name">Basic</div>
            <div class="plan-amount-block"><span class="dollar-sign">$</span><span class="plan-price">49</span><span
                class="plan-duration">/ mo</span></div>
            <div class="plan-features">
              <div>One reason why you need this.</div>
              <div>Another great benefit goes here.</div>
              <div>Why haven&#x27;t you bought this yet?!</div>
            </div>
            <a href="signup" class="button full-button w-inline-block">
              <div>Get Started</div>
            </a>
            <div class="pricing-accent red-accent"></div>
          </div>
          <div class="pricing-column">
            <div class="plan-name">Premium</div>
            <div class="plan-amount-block"><span class="dollar-sign">$</span><span class="plan-price">499</span><span
                class="plan-duration">/ yr</span></div>
            <div class="plan-features">
              <div>All the stuff over there plus...</div>
              <div>Another great benefit goes here.</div>
              <div>It&#x27;s so crazy good you have to</div>
              <div>You can help but buy this thing</div>
            </div>
            <a href="signup"
              class="button full-button secondary-button w-inline-block">
              <div>Get Started</div>
            </a>
            <div class="pricing-accent"></div>
          </div>
        </div>
        <div class="pricing-disclaimer">*Price does not include additional taxes, fees, and surcharges. To learn more,
          please <a href="https://www.uberconference.com/contact" class="link">contact our sales team</a>.<br></div>
      </div>
      <div>
        <h3 class="faq-h2">Frequently Asked Questions</h3>
        <div class="faq-min-height">
          <div class="faq-wrap">
            <div class="faq-question">
              <div class="faq-q-text">Do you offer any discounts?</div>
              <div class="faq-plus-wrap">
                <div class="faq-plus-l"></div>
                <div class="faq-plus"></div>
              </div>
            </div>
            <div class="faq-answer">
              <p class="faq-answer-text">Placeholder: Our product is priced to be affordable, so we don&#x27;t give any
                discounts. We already offer our product at a competitive price.<br></p>
            </div>
          </div>
          <div class="faq-wrap">
            <div class="faq-question">
              <div class="faq-q-text">Is there a long-term contract?</div>
              <div class="faq-plus-wrap">
                <div class="faq-plus-l"></div>
                <div class="faq-plus"></div>
              </div>
            </div>
            <div class="faq-answer">
              <p class="faq-answer-text">Placeholder: No, we don&#x27;t force you into any long-term contracts. Our best
                price is available as an annual subscription, but we offer monthly subscriptions as well.</p>
            </div>
          </div>
          <div class="faq-wrap">
            <div class="faq-question">
              <div class="faq-q-text">Which payments do you accept?</div>
              <div class="faq-plus-wrap">
                <div class="faq-plus-l"></div>
                <div class="faq-plus"></div>
              </div>
            </div>
            <div class="faq-answer">
              <p class="faq-answer-text">Placeholder: We accept online payments through Visa, MasterCard, and American
                Express. If you don&#x27;t have a credit card, we accept checks, PayPal (you must have a PayPal
                account), and wire transfers. To arrange offline payments, or if you have any questions, please <a
                  href="#" class="normal-font">contact our sales team</a>.<br></p>
            </div>
          </div>
          <div class="faq-wrap">
            <div class="faq-question">
              <div class="faq-q-text">How do transaction fees work?</div>
              <div class="faq-plus-wrap">
                <div class="faq-plus-l"></div>
                <div class="faq-plus"></div>
              </div>
            </div>
            <div class="faq-answer">
              <p class="faq-answer-text">Placeholder: During this time we found that our smallest customers accounted
                for a significant amount of our support resources. We have changed our pricing structure so that we can
                better meet the needs of all our customers.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container"></div>
  </div>
  <div class="footer-section">
    <div data-w-id="dc06095e-712f-20ef-aaa2-14855b29c909" class="container">
      <div class="footer-row"><img src="/assets/images/heart.svg" alt="" class="footer-image">
        <div>
          <div class="social-icon"><img src="/assets/images/twitter.svg" alt=""></div>
          <div class="social-icon"><img src="/assets/images/facebook.svg" alt=""></div>
          <div class="social-icon"><img src="/assets/images/google.svg" alt=""></div>
        </div>
      </div>
      <div class="footer-row">
        <div class="footer-copywrite">© YourBrand 2019. All rights reserved.<br></div>
        <div class="footer-link-wrapper"><a href="#" class="footer-link">Contact</a><a href="pricing"
            class="footer-link">Pricing</a><a href="#" class="footer-link">About Us</a><a href="#"
            class="footer-link">Support</a>
          <div memberstack-template="Light Template" class="template-tag"><a href="http://memberstack.io"
              target="_blank" class="w-inline-block"></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div data-w-id="a34fac5a-afce-aa36-1c00-7b5676ad1edf" style="display:none" class="delete-me-welcome">
  <div class="help-tooltip tour-tooltip">
    <div class="help-tooltip-content">
      <div class="help-title inline-block">Setup To-do</div>
      <div class="relative">1. Publish this site<br>2. Create a MemberStack account<br>3. Test your membership site
         🎉🎉🎉<br></div>
      <div class="tour-dot"></div>
      <div class="w-embed">
        <style>
          @keyframes tourDot {
            0% {
              box-shadow: 0 0 0 0px rgba(42, 168, 255, 0.8);
            }

            100% {
              box-shadow: 0 0 0 80px rgba(42, 168, 255, 0);
            }
          }

          .tour-dot {
            animation: tourDot 1.5s ease-out infinite;
          }
        </style>
      </div>
    </div>
    <div class="tour-bottom-row">
      <div>You can delete this to-do list anytime.</div>
    </div>
    <div class="tour-diamond top-right"></div>
  </div>
</div>

{% endblock %}